.auth-page.registration
    .auth-card 
        .auth-card__title
            span Регистрация
        .auth-card__fields 
            | !{emailTextField}
            | !{usernameTextField}
            | !{firstNameTextField}
            | !{lastNameTextField}
            | !{phoneTextField}
            | !{passwordTextField}
            | !{passwordRepeatTextField}
        .auth-card__actions
            | !{button}
            .additional
                a(href="#" id="has-account-link") Уже есть аккаунт?
            